@media screen and (min-width: 6000px) {
    .element,  .lastElement {
        font-size: 5px;
    }
}
* {
    padding: 0;
    margin: 0;
}
html, body {
  height: 100%;
  vertical-align: middle;
}
body {
  position: relative;  

  background-color: #000000;
  font-family: Helvetica, sans-serif;

  margin: 0;
}
#container {
    height: 650px;
    width: 1150px;  

    top: 50%;
    left: 50%;  

    position: absolute;   

    display: flex;

    padding: 0;
    margin: auto;  

  	transform: translate(-50%, -50%);
}
a {
  color: #ffffff;
}
.element {
  height: 63px;  
  width: 60px;

  text-align: center;  

  border: 1px solid rgba(127, 255, 255,  .75);

  box-shadow: 0px 0px 12px rgba(0, 255, 255, .5);

  cursor: default;
}

.lastElement {
  height: 27px;  
  width: 82px;

  color: rgba(127, 255, 255, .75); 
  font-size: 11px;
  text-align: center;
  word-wrap: break-word;

  border: 1px solid rgba(127, 255, 255, .75); 

  box-shadow: 0px 0px 12px rgba(0, 255, 255, .5);

  cursor: grab;
}
.element:hover {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, .75);
  border: 1px solid rgba(127, 255, 255, .75);
}
.lastElement:hover {
  box-shadow: 0px 0px 12px rgba(0, 255, 255, .75);
  border: 1px solid rgba(127, 255, 255, .75);
}
.element .number {
  position: relative;
  top: 0;
  left: 18px;

  font-size: 9px;
  color: rgba(127, 255, 255, .75);
}

.element .symbol {
  position: relative;
  top: 0;
  left: 0;
  right: 0;

  font-size: 17px;
  font-weight: bold;
  color: rgba(255, 255, 255, .75);

  text-shadow: 0 0 10px rgba(0, 255, 255, .95);
}

.element .name {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  font-size: 9px;

  color: rgba(127, 255, 255, .75);
}

.element .mass {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  font-size: 9px;

  color: rgba(127, 255, 255, .75);
}
@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
  }
  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
  }
  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
  }
  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
  }
  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
  }
  97%, 100% {
    -webkit-transform: scale(1);
  }
}


.persp {
  perspective: 25em;
  width: 150px;
  height: 150px;
  margin: auto;
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 0;
  right: 0;
  transform-style: preserve-3d;
  display: table;
}
.mousemove_rotate {
  width: 120px;
  height: 120px;
  border: 1px solid rgba(127, 255, 255, .25);
  color: rgba(255, 255, 255, .75);
  text-align: center;
  vertical-align: center;
  display: table-cell;
  background-color: rgba(0, 127, 127, .4);
  transform: translate3d(0, 0, 0);
}
.upper_number {
  position: relative;

  height: 30px;

  font-size: 20px;
  color: rgba(127, 255, 255, .75);
}

.upper_symbol {
  position: relative;

  height: 60px;
  font-size: 40px;
  font-weight: bold;
  color: rgba(255, 255, 255, .75);

  text-shadow: 0 0 10px rgba(0, 255, 255, .95);
}

.upper_name {
  position: relative;

  font-size: 20px;
  height: 30px;
  color: rgba(127, 255, 255, .75);
}
 .upper_mass {
  position: relative;

  font-size: 20px;
  height: 30px;
  color: rgba(127, 255, 255, .75);
}